{
  "defaultConfig":{
    "libraryDir":"script/library/",
    "buildType":"develop",
    "api":"CoreEngine"
  },
  "buildDirs":[
    {
      "dir":"script/main/",
      "targetSource":"script/launcher.js"
    }
  ],
  "compile":[
    {
      "path":"script/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[],
  "javaDirs":[],
  "nativeDirs":[]
}